.newStyle .ant-modal-footer {
  border-top-width: 0;
}

.newStyle .ant-modal-header {
  background-color: #e4e8eb;
  border-bottom: 1px solid black;
}
.newStyle .ant-modal-title {
  color: rgb(171, 42, 22);
}
